<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="style.css" />
    <script src="../angular-1.4.1/angular.min.js"></script>
    <script src="../jquery-3.1.1.min.js"></script>
    <script src="script.js"></script>
</head>
<body ng-app="timerApp" ng-controller="timerCtrl">
    <div class="container">
        <h1>番茄钟</h1>

        <div class="session">
            <div class="breakCtrl">
                <p>break length</p>
                <button class="minus" ng-click="breakLengthChange(-1)">-</button>
                <span>{{breakLength}}</span>
                <button class="add" ng-click="breakLengthChange(1)">+</button>
            </div>
            <div class="sessionCtrl">
                <p>session length</p>
                <button class="minus" ng-click="sessionLengthChange(-1)">-</button>
                <span>{{sessionLength}}</span>
                <button class="add" ng-click="sessionLengthChange(1)">+</button>
            </div>
        </div>

        <div class="timer" ng-click="toggleTimer()">
            <p class="title">{{sessionName}}</p>
            <p>{{timeLeft}}</p>
            <span class="fill" ng-style="{'height':fillHeight,'background-color':fillColor}"></span>
        </div>
    </div>
</body>
</html>